@charset "utf-8";
/* CSS Document */
/* Body */
body {
	background-color: var(--color-background);
	color: var(--color-text);
	font-family: source-sans-pro;
	font-size: 2vmax;
	font-style: normal;
	font-weight: 200;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	overflow: hidden;
}
strong {
	color: var(--color-text-strong);
}
.logo {
	background-image: url(logo/2048.png);
    background-size: 100% 100%;
}
.logo-animated {	
	background-image: url(logo/1024.apng);
    background-size: 100% 100%;
}
.page-scroller {
	
}
.scroll-page {
	text-align: center;
}
.scroll-snap {
	
}

/* Actual stuff*/

/* Table of contents*/
.contents {
	position: fixed;
	right: 0px;
}
.contents-element {
	font-size: calc((3vh + 1vw)/2);
}
.contents-element-current {
	color: var(--color-text-strong);
}

/* Widgets */
.widgets {
	position: fixed;
	left: 0px;
	width: 4vmax;
	table-layout: fixed;
	border-collapse: collapse;
}
.widgets > tr {
	height: 33%;
	padding: 0;
	margin: 0;
	border: none;
}
.widgets > tr > td {
	width: 100%;
	border: none;
	padding: 0;
	margin: 0;
}
.widgets img {
	max-width: 100%;
	max-height: 100%;
}

#widget {
	position: fixed;
	width: 25vw;
	height: 100%;
	display: flex;
	flex-direction: row;
}
.close-widget {
	width: 0.5vw;
	height: 100%;
	right: 74vw;
	
	background-color: var(--color-background-accent);
}
.close-widget img {
	object-fit: contain;
}

/* Settings */
.theme-table {
	width: 10vmax;
	table-layout: fixed;
}
.theme-table tr {
	
}
.theme-table td {
	padding: 0;
	margin: 0;
}
.theme-table div {
	width: 4vmax;
	min-width: 4vmax;
	max-width: 4vmax;
	height: 100%;
	min-height: 4vmax;
	max-height: 4vmax;
	
	border: 2px solid var(--color-background-contrast);
}

/* Home page */
#home-table {
	width: 100%;
	height: 100%;
}
#home-table table {
	width: 75vmin;
	height: 75vmin;
	table-layout: fixed;
	border-collapse: collapse;
}
#home-table tr {
	height: 33%;
}
#home-table td {
	width: 33%;
	padding: 0;
	margin: 0;
}
#home-table img {
	max-width: 100%;
	max-height: 100%;
}

/* Bio */
#bio {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
#bio .quote {
	width: 50vw;
	text-align: justify;
}
#bio .author {
	text-align: right;
}
#bio table {
	width: 50vw;
	height: auto;
	table-layout: fixed;
	border-collapse: collapse;
}
#bio table td {
	width: 33%;
	padding: 0;
	margin: 0;
}
#bio table img {
	max-width: 100%;
	max-height: 100%;
}