@charset "utf-8";
/* CSS Document */
/* Palette */
:root {
	--color-background: #212921;
	--color-background-noise: #2B362B;
	--color-text: aqua;
	--color-text-highlight: #00C69E;
}
/* Body */
body {
	font-family: source-sans-pro;
	background-color: var(--color-background);
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}
.logo {
	background-image: url(logo/2048.png);
    background-size: 100% 100%;
}
.logo-animated {	
	background-image: url(logo/1024.apng);
    background-size: 100% 100%;
}
.contents {
	position: fixed;
	right: 0px;
	color: var(--color-text);
}
.contents-element {
	color: var(--color-text);
}
.contents-element-current {
	color: var(--color-text-highlight);
}
.page-scroller {
	
}
.scroll-page {
	text-align: center;
	color: var(--color-text);
}
.scroll-snap {
	
}

/* Actual stuff*/

/* Home page */
#home-table {
	width: 100%;
	height: 100%;
}
#home-table table {
	width: 75vmin;
	height: 75vmin;
	table-layout: fixed;
	border-collapse: collapse;
}
#home-table tr {
	height: 33%;
}
#home-table td {
	width: 33%;
	padding: 0;
	margin: 0;
}
#home-table img {
	max-width: 100%;
	max-height: 100%;
}