@charset "utf-8";
/* CSS Document */
/* Palette */
:root {
	--color-background: #212921;
	--color-background-noise: #2B362B;
	--color-text: aqua;
	--color-text-highlight: #00C69E;
}
/* Body */
body {
	font-family: source-sans-pro;
	background-color: var(--color-background);
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}
.logo {
	background-image: url(logo/2048.png);
    background-size: 100% 100%;
}
.logo-animated {	
	background-image: url(logo/1024.apng);
    background-size: 100% 100%;
}
.contents {
	position: fixed;
	right: 0px;
	color: var(--color-text);
}
.contents-element {
	color: var(--color-text);
}
.contents-element-current {
	color: var(--color-text-highlight);
}
.page-scroller {
	
}
.scroll-page {
	text-align: center;
	color: var(--color-text);
	width: 100vw;
	height: 100vh;
}
.scroll-snap {
	
}